<div class="sidebar">
  <div class="container sidebar-sticky">
 
     <h1 style="color: #f9a557">pLannotate</h1>
        <p><a href="https://en.wikipedia.org/wiki/Plasmid">Plasmids</a> are ubiquitous in many fields of biology.</p>
        <p>Engineered plasmids often contain junk. This junk can take up useful space, or worse.</p>
        <!-- <p><font color="#f9a557">pLannotate</font> shows you where the junk is.</p> -->
        <p>pLannotate shows you where the junk is.</p> 
        
        <a href="https://github.com/mmcguffi/pLannotate">Take me to GitHub</a>

 	
    <nav class="sidebar-nav">
      {% comment %}
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      {% endcomment %}
      
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      
      {% assign posts_list = site.posts %}
      {% for node in posts_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
           <!--    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a> -->
          {% endif %}
        {% endif %}
      {% endfor %}

  </div>
</div>
